## Preprocessing / Optimization2

In [13]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf


#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("Resources/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [14]:
# Drop the non-beneficial ID column, 'EIN' 
application_df = application_df.drop(columns='EIN')

application_df.head()

,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [15]:
# Determine the number of unique values in each column.
application_df.nunique()

NAME                      19568
APPLICATION_TYPE             17
AFFILIATION                   6
CLASSIFICATION               71
USE_CASE                      5
ORGANIZATION                  4
STATUS                        2
INCOME_AMT                    9
SPECIAL_CONSIDERATIONS        2
ASK_AMT                    8747
IS_SUCCESSFUL                 2
dtype: int64

In [19]:
# Look at APPLICATION_TYPE value counts for binning
application_name_counts = application_df['NAME'].value_counts()

# View value counts
application_name_counts

Other                                      21022
PARENT BOOSTER USA INC                      1260
TOPS CLUB INC                                765
UNITED STATES BOWLING CONGRESS INC           700
WASHINGTON STATE UNIVERSITY                  492
                                           ...
CASCADE 4-H FOUNDATION                        10
FREE & ACCEPTED MASONS OF WASHINGTON          10
NEW MEXICO GARDEN CLUBS INC                   10
NATIONAL ASSOCIATION OF HISPANIC NURSES       10
UNION OF CALIFORNIA STATE WORKERS             10
Name: NAME, Length: 223, dtype: int64

In [17]:
# Choose a cutoff value and create a list of NAMES to be replaced
application_names_to_replace = application_name_counts[application_name_counts < 10].index.to_list()

# Replace in dataframe
for app in application_names_to_replace:
    application_df['NAME'] = application_df['NAME'].replace(app,"Other")

# Check to make sure binning was successful
application_df['NAME'].value_counts()

Other                                      21022
PARENT BOOSTER USA INC                      1260
TOPS CLUB INC                                765
UNITED STATES BOWLING CONGRESS INC           700
WASHINGTON STATE UNIVERSITY                  492
                                           ...
CASCADE 4-H FOUNDATION                        10
FREE & ACCEPTED MASONS OF WASHINGTON          10
NEW MEXICO GARDEN CLUBS INC                   10
NATIONAL ASSOCIATION OF HISPANIC NURSES       10
UNION OF CALIFORNIA STATE WORKERS             10
Name: NAME, Length: 223, dtype: int64

In [20]:
# Look at CLASSIFICATION value counts for binning
classification_counts = application_df['CLASSIFICATION'].value_counts()
classification_counts

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [21]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_counts[classification_counts > 1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [22]:

# Choose a cutoff value and create a list of classifications to be replaced
classifications_to_replace = classification_counts[classification_counts < 100].index.to_list()


# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
Other      669
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
Name: CLASSIFICATION, dtype: int64

In [23]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df = pd.get_dummies(application_df,dtype=float)
application_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,NAME_ACE MENTOR PROGRAM OF AMERICA INC,NAME_AIR FORCE ASSOCIATION,NAME_ALABAMA FEDERATION OF WOMENS CLUBS,NAME_ALABAMA TREASURE FOREST ASSOCIATION,NAME_ALPHA PHI SIGMA,NAME_ALPHA PHI SIGMA INC,NAME_ALTRUSA INTERNATIONAL FOUNDATION INC,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [24]:
# Split our preprocessed data into our features and target arrays
X = application_df.drop('IS_SUCCESSFUL', axis=1).values
y = application_df['IS_SUCCESSFUL'].values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 42)

In [25]:

# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [39]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
input_features = X_train_scaled.shape[1]
hidden_nodes1=5
hidden_nodes2=5
hidden_nodes3=5

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes1, input_dim=input_features, activation='relu'))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes2, activation='relu'))

# Third hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes3, activation='relu'))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn.summary()

Model: "sequential_4"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_16 (Dense)            (None, 5)                 1405

 dense_17 (Dense)            (None, 5)                 30

 dense_18 (Dense)            (None, 5)                 30

 dense_19 (Dense)            (None, 1)                 6

=================================================================
Total params: 1,471
Trainable params: 1,471
Non-trainable params: 0
_________________________________________________________________

In [40]:
# Compile the model

nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [41]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train, epochs=150)

Epoch 1/150
804/804 [==============================] - 3s 2ms/step - loss: 0.5524 - accuracy: 0.7310
Epoch 2/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4621 - accuracy: 0.7708
Epoch 3/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4522 - accuracy: 0.7748
Epoch 4/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4495 - accuracy: 0.7769
Epoch 5/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4469 - accuracy: 0.7767
Epoch 6/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4449 - accuracy: 0.7768
Epoch 7/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4440 - accuracy: 0.7779
Epoch 8/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4433 - accuracy: 0.7781
Epoch 9/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4426 - accuracy: 0.7783
Epoch 10/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4419 - accuracy: 0.7803
Epoch 11/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4414 - accuracy: 0.7814
Epoch 12/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4409 - accuracy: 0.7807
Epoch 13/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4410 - accuracy: 0.7805
Epoch 14/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4406 - accuracy: 0.7802
Epoch 15/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4400 - accuracy: 0.7812
Epoch 16/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4400 - accuracy: 0.7809
Epoch 17/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4387 - accuracy: 0.7823
Epoch 18/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4384 - accuracy: 0.7822
Epoch 19/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4379 - accuracy: 0.7850
Epoch 20/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4376 - accuracy: 0.7858
Epoch 21/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4374 - accuracy: 0.7858
Epoch 22/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4374 - accuracy: 0.7866
Epoch 23/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4369 - accuracy: 0.7874
Epoch 24/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4367 - accuracy: 0.7860
Epoch 25/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4364 - accuracy: 0.7883
Epoch 26/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4362 - accuracy: 0.7865
Epoch 27/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4360 - accuracy: 0.7890
Epoch 28/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4360 - accuracy: 0.7870
Epoch 29/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4354 - accuracy: 0.7889
Epoch 30/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4355 - accuracy: 0.7869
Epoch 31/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4355 - accuracy: 0.7867
Epoch 32/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4351 - accuracy: 0.7878
Epoch 33/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4347 - accuracy: 0.7888
Epoch 34/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4343 - accuracy: 0.7884
Epoch 35/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4342 - accuracy: 0.7885
Epoch 36/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4340 - accuracy: 0.7890
Epoch 37/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4338 - accuracy: 0.7884
Epoch 38/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4338 - accuracy: 0.7888
Epoch 39/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4336 - accuracy: 0.7893
Epoch 40/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4335 - accuracy: 0.7889
Epoch 41/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4332 - accuracy: 0.7887
Epoch 42/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4329 - accuracy: 0.7899
Epoch 43/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4328 - accuracy: 0.7896
Epoch 44/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4331 - accuracy: 0.7883
Epoch 45/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4327 - accuracy: 0.7898
Epoch 46/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4328 - accuracy: 0.7891
Epoch 47/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4330 - accuracy: 0.7890
Epoch 48/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4323 - accuracy: 0.7887
Epoch 49/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4324 - accuracy: 0.7887
Epoch 50/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4326 - accuracy: 0.7895
Epoch 51/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4327 - accuracy: 0.7881
Epoch 52/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4323 - accuracy: 0.7897
Epoch 53/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4326 - accuracy: 0.7884
Epoch 54/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4323 - accuracy: 0.7897
Epoch 55/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4318 - accuracy: 0.7901
Epoch 56/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4314 - accuracy: 0.7897
Epoch 57/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4308 - accuracy: 0.7908
Epoch 58/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4308 - accuracy: 0.7904
Epoch 59/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4306 - accuracy: 0.7904
Epoch 60/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4301 - accuracy: 0.7908
Epoch 61/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4303 - accuracy: 0.7909
Epoch 62/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4298 - accuracy: 0.7915
Epoch 63/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4297 - accuracy: 0.7913
Epoch 64/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4295 - accuracy: 0.7915
Epoch 65/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4296 - accuracy: 0.7914
Epoch 66/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4295 - accuracy: 0.7905
Epoch 67/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4294 - accuracy: 0.7903
Epoch 68/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4294 - accuracy: 0.7905
Epoch 69/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4293 - accuracy: 0.7907
Epoch 70/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4291 - accuracy: 0.7914
Epoch 71/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4291 - accuracy: 0.7919
Epoch 72/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4290 - accuracy: 0.7898
Epoch 73/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4291 - accuracy: 0.7904
Epoch 74/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4287 - accuracy: 0.7904
Epoch 75/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4292 - accuracy: 0.7909
Epoch 76/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4288 - accuracy: 0.7924
Epoch 77/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4289 - accuracy: 0.7905
Epoch 78/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4288 - accuracy: 0.7915
Epoch 79/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4287 - accuracy: 0.7913
Epoch 80/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4288 - accuracy: 0.7911
Epoch 81/150

804/804 [==============================] - 2s 2ms/step - loss: 0.4286 - accuracy: 0.7906
Epoch 82/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4286 - accuracy: 0.7925
Epoch 83/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4288 - accuracy: 0.7901
Epoch 84/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4285 - accuracy: 0.7904
Epoch 85/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4287 - accuracy: 0.7918
Epoch 86/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4285 - accuracy: 0.7907
Epoch 87/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4288 - accuracy: 0.7904
Epoch 88/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4287 - accuracy: 0.7902
Epoch 89/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4286 - accuracy: 0.7909
Epoch 90/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4284 - accuracy: 0.7906
Epoch 91/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4285 - accuracy: 0.7912
Epoch 92/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4284 - accuracy: 0.7908
Epoch 93/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4286 - accuracy: 0.7916
Epoch 94/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4285 - accuracy: 0.7912
Epoch 95/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4287 - accuracy: 0.7918
Epoch 96/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4287 - accuracy: 0.7914
Epoch 97/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4287 - accuracy: 0.7909
Epoch 98/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4283 - accuracy: 0.7919
Epoch 99/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4285 - accuracy: 0.7907
Epoch 100/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4288 - accuracy: 0.7912
Epoch 101/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4285 - accuracy: 0.7912
Epoch 102/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4286 - accuracy: 0.7905
Epoch 103/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4285 - accuracy: 0.7907
Epoch 104/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4281 - accuracy: 0.7906
Epoch 105/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4281 - accuracy: 0.7914
Epoch 106/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4278 - accuracy: 0.7905
Epoch 107/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4278 - accuracy: 0.7919
Epoch 108/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4280 - accuracy: 0.7905
Epoch 109/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4281 - accuracy: 0.7902
Epoch 110/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4278 - accuracy: 0.7909
Epoch 111/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4278 - accuracy: 0.7920
Epoch 112/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4278 - accuracy: 0.7908
Epoch 113/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4275 - accuracy: 0.7924
Epoch 114/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4277 - accuracy: 0.7913
Epoch 115/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4278 - accuracy: 0.7907
Epoch 116/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4273 - accuracy: 0.7923
Epoch 117/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4275 - accuracy: 0.7910
Epoch 118/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4275 - accuracy: 0.7910
Epoch 119/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4274 - accuracy: 0.7910
Epoch 120/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4274 - accuracy: 0.7910
Epoch 121/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4273 - accuracy: 0.7918
Epoch 122/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4276 - accuracy: 0.7908
Epoch 123/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4271 - accuracy: 0.7903
Epoch 124/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4273 - accuracy: 0.7915
Epoch 125/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4274 - accuracy: 0.7914
Epoch 126/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4274 - accuracy: 0.7916
Epoch 127/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4273 - accuracy: 0.7907
Epoch 128/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4277 - accuracy: 0.7911
Epoch 129/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4271 - accuracy: 0.7921
Epoch 130/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4275 - accuracy: 0.7911
Epoch 131/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4271 - accuracy: 0.7915
Epoch 132/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4271 - accuracy: 0.7904
Epoch 133/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4267 - accuracy: 0.7913
Epoch 134/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4270 - accuracy: 0.7908
Epoch 135/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4272 - accuracy: 0.7907
Epoch 136/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4270 - accuracy: 0.7911
Epoch 137/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4273 - accuracy: 0.7918
Epoch 138/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4272 - accuracy: 0.7918
Epoch 139/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4269 - accuracy: 0.7922
Epoch 140/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4271 - accuracy: 0.7911
Epoch 141/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4271 - accuracy: 0.7913
Epoch 142/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4270 - accuracy: 0.7917
Epoch 143/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4272 - accuracy: 0.7908
Epoch 144/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4267 - accuracy: 0.7915
Epoch 145/150
804/804 [==============================] - 1s 1ms/step - loss: 0.4269 - accuracy: 0.7914
Epoch 146/150
804/804 [==============================] - 1s 2ms/step - loss: 0.4270 - accuracy: 0.7903
Epoch 147/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4267 - accuracy: 0.7916
Epoch 148/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4268 - accuracy: 0.7908
Epoch 149/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4268 - accuracy: 0.7921
Epoch 150/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4267 - accuracy: 0.7912

In [42]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.4615 - accuracy: 0.7770 - 950ms/epoch - 4ms/step
Loss: 0.46147963404655457, Accuracy: 0.7770262360572815

In [43]:
# Export our model to HDF5 file
nn.save('../AlphabetSoupCharity_Optimization2.h5')

This model built, tested and trained has achieved a target predictive accuracy higher than 75%. The Accuracy is 78%.